# Data Types

- Numbers
- Strings
- `None`
- Booleans

In [3]:
type(42)

int

In [4]:
type(42.2)

float

In [5]:
3 * 4

12

In [6]:
4 / 3

1.3333333333333333

In [7]:
4 // 3

1

In [8]:
4 % 3

1

In [9]:
7 % 2 == 0

False

In [10]:
x = 42

In [11]:
x == 42

True

In [12]:
name = "Monty Python"

In [13]:
type(name)

str

In [17]:
language = 'Python'

In [27]:
sentence = "The " + language + " language comes from " + name  +"."

SyntaxError: invalid syntax (3534525973.py, line 1)

In [19]:
sentence

'The Python language comes from Monty Python.'

In [21]:
sentence1 = "The {} language comes from {}".format(language, name)

In [23]:
sentence1

'The Python language comes from Monty Python'

In [24]:
sentence2 = f"the {language} comes from {name}."

In [25]:
sentence2

'the Python comes from Monty Python.'

In [26]:
print(sentence)

The Python language comes from Monty Python

In [28]:
False

False

In [29]:
not False

True

In [30]:
not True

False

In [31]:
True and True

True

In [32]:
True and False

False

In [33]:
True or False

True

# Statements and Expression
- statement - command we give to the computer
- expression - code that returns a value

In [34]:
5 == 6 # falsy

False

In [35]:
5 == 5 # truthy

True

# composite type
- can consist of primative types or other composite types

## our types
- lists
- dictionaries

In [36]:
item1 = "money"

In [37]:
item2 = "candy"

In [38]:
item3 = "liquor licence"

In [39]:
item4 = "business licence"

In [40]:
item5 = "bank account"

In [41]:
business_todo = []

In [42]:
business_todo.append(item1)

In [43]:
business_todo

['money']

In [44]:
business_todo.append(item2)

In [45]:
business_todo = [item1, item2, item3, item4, item5]

In [46]:
business_todo

['money', 'candy', 'liquor licence', 'business licence', 'bank account']

In [47]:
business_todo.append('employees')

In [48]:
business_todo

['money',
 'candy',
 'liquor licence',
 'business licence',
 'bank account',
 'employees']

In [49]:
print(business_todo[2])

liquor licence

In [50]:
print(business_todo[-1])

employees

In [51]:
print(business_todo[3:])

['business licence', 'bank account', 'employees']

In [53]:
print(business_todo[6])

IndexError: list index out of range

In [62]:
print(business_todo[3::2])

['business licence', 'employees']

In [55]:
len(business_todo)

6

In [58]:
start = 0
stop = 6
step = 2
business_todo[start:stop:step]

['money', 'liquor licence', 'bank account']

In [59]:
business_todo[::]

['money',
 'candy',
 'liquor licence',
 'business licence',
 'bank account',
 'employees']

In [64]:
business_todo.append("""location""")

In [65]:
business_todo

['money',
 'candy',
 'liquor licence',
 'business licence',
 'bank account',
 'employees',
 'location']

In [66]:
my_list = [0,1,2,3,4,5,6,7,8,9,10]

In [69]:
my_list[::3]

[0, 3, 6, 9]

In [74]:
for i in range(100 + 1):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [75]:
business_todo

['money',
 'candy',
 'liquor licence',
 'business licence',
 'bank account',
 'employees',
 'location']

In [76]:
for i in business_todo:
    print(i)

money
candy
liquor licence
business licence
bank account
employees
location

In [79]:
for i in my_list:
    print(i*i)

0
1
4
9
16
25
36
49
64
81
100

In [80]:
person = ["Tyler", 39, True, True]

In [81]:
person[2]

True

In [82]:
person[3]

True

In [83]:
person = {'name': 'Tyler', 'age': 39, 'is_cool': True, 'has_boat': True}

In [84]:
person[0]

KeyError: 0

In [85]:
person['name']

'Tyler'

In [86]:
business_todo

['money',
 'candy',
 'liquor licence',
 'business licence',
 'bank account',
 'employees',
 'location']

In [87]:
business_dict = {}

In [88]:
business_dict['troy']= 'money'

In [89]:
business_dict

{'troy': 'money'}

In [90]:
business_dict['troy']

'money'

In [91]:
business_dict['troy'] = ['money', 'candy']

In [92]:
business_dict

{'troy': ['money', 'candy']}

In [93]:
business_dict['troy']

['money', 'candy']

In [94]:
business_dict['troy'].pop()

'candy'

In [95]:
business_dict

{'troy': ['money']}

In [96]:
students = [
    {'name': 'Ash', 'age': 22},
    {'name': 'Valeria', 'age': 21},
    {'name': 'Richard', 'age': 23}
]

In [97]:
students

[{'name': 'Ash', 'age': 22},
 {'name': 'Valeria', 'age': 21},
 {'name': 'Richard', 'age': 23}]

In [98]:
print(students[1])

{'name': 'Valeria', 'age': 21}

In [99]:
print(students[1]'name')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2731945950.py, line 1)

In [100]:
print(students[1][0])

KeyError: 0

In [101]:
print(students[1]['name'])

Valeria

In [102]:
print(students[1]['age'])

21

In [103]:
print(students)

[{'name': 'Ash', 'age': 22}, {'name': 'Valeria', 'age': 21}, {'name': 'Richard', 'age': 23}]

In [109]:
for s in students:
    print("name:", s['name'],'age: ', s['age'])

name: Ash age:  22
name: Valeria age:  21
name: Richard age:  23